<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507146008102-jqleut37kapcferokuigdjmu1er6v09k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507146008102-jqleut37kapcferokuigdjmu1er6v09k</string>
	<key>API_KEY</key>
	<string>AIzaSyCVPPcoVRWOFjV8RDw-xzMd3b54s1vJA1E</string>
	<key>GCM_SENDER_ID</key>
	<string>507146008102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFirebaseRiverpod</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507146008102:ios:33b465038029fdded318e7</string>
</dict>
</plist>